.title {
    text-align: center;
    margin: 60px 0px 30px 0px;
}

.title h2 {
    font-size: 50px;
    margin-top: 5px;
}

.title p {
    text-transform: uppercase;
    color: #212EA0;
    font-size: 25px;

}